:root { --maincolor: #e44949 }
:root { --background: #d0f5ff }
:root { --second: #8975df }
:root { --third:  #d9e5ea}

.club-add-cont
{
    display: flex;
    justify-content: space-between;
    width: 1450px;
    height: 60px;
    border-bottom: 5px solid var(--maincolor);
    padding: 0;
    margin-left: 40px;
    
}
.addclub-cont
{
    display:flex;
    align-items: center;
}
.addclub button
{
    display: flex;
    padding:10px;
    border-radius:20px;
    font-size: large;
    background-color:var(--maincolor) ;
    color:var(--third);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.club-cont
{
    display:flex;
    align-items: center;
}
.club
{
    display: flex;
    padding:10px;
    border-radius:20px;
    font-size: 20px;
    background-color:var(--maincolor) ;
    color:var(--third);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.clubs-cards-cont
{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 22px;
    background-color: var(--background)
    ;
    width: 1450px;
    height:auto;
}
.clubs-cards
{
    display:flex;
    width: 200px;
    height: 260px;
    padding-top:20px;
    justify-content: left;
    margin-left: 35px;
    margin-bottom: 35px;
    margin-top: 35px;
    gap :30px;

    border: 0px solid black;
    background-color: var(--maincolor);
    border-radius:22px;
    
}
