* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EF233C;
  padding: 10px 20px;
  color: #d0f5ff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.navbar a {
  color: #d0f5ff;
  text-decoration: none;
  font-size: 16px;
}
.navbar a:hover {
  color: #8D99AE;
}

.navlinks {
    display: flex;
    align-items: center;
    gap : 20px;
    padding-right: 300px;
  }

.logo{display: flex;}
.logo img {border-radius: 50%;} /*  logo circular */





.searchbar
{
  display: flex;
  align-items: center;
  gap:5px;
}

.inputcontainer
{
  display: flex;
  background-color: #d0f5ff;
  color:#EF233C;
  height: 30px;
  gap : 3px;
  border-radius: 50px;
  border : none;
}
.inputcontainer i
{
  display: flex;
  margin-top : 6px;
  margin-left : 6px;
  cursor: pointer;
  color:#EF233C;
  height: 30px;
  
}
.inputcontainer input 
{
  width: 250px;
  height: 30px;
  
  padding: 3px;
  background-color:#d0f5ff;
  border-radius: 50px;
  border: none;
  
}



.searchbar button
{
  background-color: #d0f5ff;
  color: #EF233C;
  padding: 3px 4px;
  border-radius: 50px;
  border: none;
  height:25px;
}


.name
{
  display: flex;
  align-items: center;
  padding-right: 15px;    
  gap: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.clubschedule
{
padding-top: 150px;
padding-left: 30px;
font-size: 40px;

font-family: 'Poppins', sans-serif;
font-weight: 700;
color: #2B2D42;
}

.container
{
  display: flex ;
  gap: 500px;
  
}
