.back-button-cont
{
    display:flex;
    margin-left:50px;
    padding-top: 130px;
}

.back-button button
{
    display: flex;
    padding:10px;
    border-radius:22px;
    font-size: 20px;
    background-color:var(--maincolor) ;
    color:var(--third);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    gap: 12px;
}
.back-button-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 5px;
    width: 100%; 
    height: 100%;
}
.club-name-cont
{
    display:flex;
    margin-left:50px;
    margin-top:50px;
    border-bottom: 7px solid var(--maincolor);
    width:fit-content;
    
}
.club-name
{
    display: flex;
    padding:7px;
    border-radius:22px;
    font-size: 50px;
    
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    gap: 12px;
}

.classes-Add-cont
{
    display: flex;
    justify-content: space-between;
    
    margin-top:60px ;
}
.Add-Class button
{
    display: flex;
    justify-content: center;
    padding:7px;
    border-radius:22px;
    font-size: 26px;
    margin-right:40px ;
    margin-top:60px ;
    width:250px;
    color:var(--background);
    background-color: var(--maincolor);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.classes
{
    display: flex;
    padding:7px;
    border-radius:22px;
    font-size: 26px;
    margin-left:40px ;
    margin-top:60px ;
    width:725px;
    color:var(--maincolor);
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    gap: 12px;
}

.class-cards-cont
{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 22px;
    background-color: var(--background)
    ;
    width: 1450px;
    height:auto;
}
.class-cards
{
    display:flex;
    width: 1385px;
    height: 260px;
    
    border: px solid black;
    background-color: var(--maincolor);
    border-radius:22px;
    clip-path: polygon(0 0 ,55% 0, 35% 100% , 0 100%);
    
}
.class-cardsd
{
    display:flex;
    width: 1385px;
    height: 260px;
    justify-content: flex-start;
    
    margin-left: 35px;
    margin-bottom: 15px;
    margin-top:20px;
    gap :30px;

    
    border-radius:22px;
}

.class-cards img
{
    display:flex;
    width: 65%;
    height: 100%;
    border: px solid black;
    background-color: var(--maincolor);
    border-radius:22px;

    
}

.class-details-cont
{
    display: flex;
    width:58.5%;
    height: 260px;
   
    
    position: absolute;
    right: 75px;
    padding-left: 60px;
    clip-path: polygon(30.8% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #cccdf6;
    border-radius: 22px;
}

.class-details
{
    color: var(--maincolor);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 190px;
    font-size: 26px;
    color:var(--maincolor);
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    background-color: #cccdf6;
    font-weight: 700;
}

.ClassDetails
{
    font-size: 20px;
    color:var(--maincolor);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

