

.name-buttons-cont {
  display: flex;
  justify-content: space-between;
  width: 1445px;
  height: 40px;
  background-color: var(--third);

  padding: 0;
  margin-left: 40px;
  border-radius: 22px;
}
.Contact {
  padding-top: 8px;
  padding-left: 15px;
  font-size: large;
  color: var(--maincolor);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.Buttons-cont {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  padding-top: 0px;
  margin-right: 15px;
  font-size: large;
  color: var(--background);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  gap: 15px;
}

.Search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Inputcontainer {
  display: flex;
  align-items: center; 
  background-color: #d0f5ff;
  color: #ef233c;
  height: 30px;
  gap: 5px;
  border-radius: 50px;
  padding: 0 10px;
  border: 1px solid var(--maincolor);
}
.addUserIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 35px;
}
.Inputcontainer input {
  flex: 1;
  height: 100%;
  padding: 5px 10px;
  background-color: #d0f5ff;
  border: none;
  outline: none;
  border-radius: 50px;
}
.Search-bar button {
  background-color: #d0f5ff;
  color: #ef233c;
  padding: 3px 4px;
  border-radius: 50px;
  border: none;
  height: 25px;
}

.filter {
  color: var(--maincolor);
  border: 0px solid var(--maincolor);
  padding: 7px;
  margin-top: 4.5px;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
}
.NewContact123 {
  display: flex;
  align-items: center;
  align-content: center;

  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  background-color: none;

}
.NewContact123 button{
  display: flex;
  align-items: center;
  align-content: center;
  color: var(--maincolor);
  border: 0px solid var(--maincolor);
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--third);
   font-size: large;
font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.NewContact123 p {
  display: inline;
  margin-right: 5px;
  color: var(--maincolor);
  background-color: none;
  font-size: large;
  font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.Options {
  color: var(--maincolor);
  border: 0px solid var(--maincolor);
  padding: 5px;
  display: flex;
  border-radius: 4px;
  align-content: center;
  align-items: center;
  cursor: pointer;
}


