
.header
{
  position: fixed;
  width:100%;
  height: 80px;
  z-index: 1000;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--maincolor);
  padding: 10px 20px;
  color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  
}

.navbar a {
  color:var(--background);
  text-decoration: none;
  font-size: 16px;
}
.navbar a:hover {
  color: #8D99AE;
}

.navlinks {
    display: flex;
    align-items: center;
    gap : 20px;
    padding-right: 300px;
  }

  .navlinks-club {
    display: flex;
    align-items: center;
    gap : 20px;
  }
.logo{display: flex;}
.logo img {border-radius: 50%;} /*  logo circular */





.searchbar
{
  display: flex;
  align-items: center;
  gap:5px;
}

.inputcontainer
{
  display: flex;
  background-color: var(--background);
  color:var(--maincolor);
  height: 30px;
  gap : 3px;
  border-radius: 50px;
  border : none;
}
.inputcontainer i
{
  display: flex;
  margin-top : 6px;
  margin-left : 6px;
  cursor: pointer;
  color:var(--maincolor);
  height: 30px;
  
}
.inputcontainer input 
{
  width: 250px;
  height: 30px;
  
  padding: 3px;
  background-color:var(--background);
  border-radius: 50px;
  border: none;
  
}



.searchbar button
{
  background-color: var(--background);
  color: var(--maincolor);
  padding: 3px 4px;
  border-radius: 50px;
  border: none;
  height:25px;
}


.name
{
  display: flex;
  align-items: center;
  padding-right: 15px;    
  gap: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.clubschedule
{
padding-top: 150px;
padding-left: 30px;

}

.container
{
  display: flex ;
  gap: 500px;
  
}
